:root {
    --text-color: #12181c;
    --bg-color: #f3f5f7;
    --primary-color: #564338;
    --secondary-color: #d4dbc7;
    --accent-color: #826555;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'EB Garamond', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

h1 {
    font-size: 4em;
    font-weight: 600;
    color: var(--secondary-color);
}

.header,
.footer {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    margin-bottom: auto;
    padding-bottom: 24px;
}

.body {
    background-color: var(--bg-color);
}

.footer {
    margin-top: auto;
    padding-top: 24px;
}

.svg-icon {
    filter: invert(38%) sepia(32%) saturate(383%) hue-rotate(337deg) brightness(99%) contrast(86%);
}